.wallet {
    margin-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
}

.wallet .wallet-title > span:first-child {
    color: #004DFF;
}

.wallet .wallet-card {}

.wallet .wallet-card .wallet-words {}

.wallet .wallet-card .wallet-words .word-index {
    position: relative;
    width: 25px;
    height: 25px;
    color: #004DFF;
    font-size: 13px;
    font-weight: bold;
}

.word-index-group {
    position: relative;
    width: 25px;
    height: 25px;
    color: #004DFF;
    font-size: 13px;
    font-weight: bold;
}

.word-index-group::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25px;
    height: 25px;
    color: #004DFF;
    border-radius: 50%;
    text-align: center;
    border: 1px solid #004DFF;
}


.wallet .wallet-card .wallet-words .word-index::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25px;
    height: 25px;
    background-color: #004DFF;
    opacity: .2;
    border-radius: 50%;
    text-align: center;
}

.wallet .wallet-card .wallet-words .word-name {
    font-size: 15px;
}

.wallet .wallet-copy {}

.wallet .wallet-copy .copy-icon {
    font-size: 40px;
    color: #004DFF;
}

.wallet .wallet-copy .copy-icon:hover {
    opacity: .8;
}

.clipboard,
.created {
    width: 425px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 20px 20px 0 0;
    transition: .5s ease-in-out;
    z-index: 99;
    opacity: 1;

    padding-left: 16px;
    padding-right: 16px;
}

.clipboard-closed,
.created-closed {
    width: 425px;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 20px 20px 0 0;
    transition: .5s ease-in-out;
    z-index: -99;
    opacity: 0;
}

.created .created-copy-icon,
.created-closed .created-copy-icon,
.clipboard .clipboard-copy-icon,
.clipboard-closed .clipboard-copy-icon {
    width: 60px;
    height: 60px;
    padding: 15px;
    font-size: 40px;
    color: #fff;
    background-color: #04B800;
    border-radius: 50%;
}

.created .down-icon,
.clipboard .down-icon,
.clipboard-closed .down-icon,
.created-closed .down-icon {
    font-size: 32px;
}

.created .down-icon:hover,
.clipboard .down-icon:hover {
    opacity: .8;
}

.group-words {
    border: 1px solid #E5E5E5;
}

.group-radio>label {
    padding: 5px 10px;
}

.group-radio :hover {
    background-color: #BBCFFB;
    color: #004DFF;
    /* opacity: .3; */
}

.MuiFormGroup-root.radio-group.css-dmmspl-MuiFormGroup-root {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.group-radio>input {
    visibility: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.group-radio>input:checked+label {
    background-color: #BBCFFB;
    color: #004DFF;
}

.created-button {
    background-color: #004DFF;
}

.created-button:disabled {
    opacity: .3;
}