@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  position: relative;
  width: 425px;
  padding-top: 14px;
  text-align: center;
  background-color: #F8F8F8;
  color: #04004D;
}

.App .header {
  color: #3CBEC5;
  padding-left: 16px;
  padding-right: 16px;
}

.App .title .title-icon {
  margin-left: -10px;
  font-size: 32px;
}

.App .title {
  padding-left: 16px;
  padding-right: 16px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.wallet-bottom {
  height: 100%;
  padding: 25px 16px;
}

.wallet-bottom .bottom-button {
  background-color: #004DFF;
}